.settings{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
   

}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;

}
.settingsDeleteTitle{
    font-size: 18px;
    color: red;
    cursor: pointer;

}
.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsPP{
    display: flex;
    margin: 10px 0;
}
.settingsPP >img{
    width: 20%;
    object-fit: cover;
    border-radius: 10px;
}
.settingsPPIcon{
    height: 25px;
    width: 25px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label{
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm > input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    width: 50%;
    border: none;
    border-bottom: 1px solid lightgray;
}
.settingsSubmit{
    width: 150px;
    align-self: center;
    color: white;
    background-color:#011f4b ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}